<h4> Creating a New Post Object </h4>

<h5>  HTML Form  <h5>

 <form action = '/posts' method='post'>  
    Title:
    <input type = 'text' name = 'title' >
</br>
    URL:
    <input type = 'text' name = 'url' >
</br>
    Description:
    <input type = 'text' name = 'description' >

</br>
<input type ='submit' >

 </form>